<div class="all-boards">
  <div class="content-all-boards">
    <div class="boards-page-board-section mod-no-sidebar">
      <div class="boards-page-board-section-header">
        <h3 class="boards-page-board-section-header-name">Personal Boards</h3>
      </div>
      <ul class="boards-page-board-section-list">
        <li *ngFor="let board of boards" class="boards-page-board-section-list-item">
          <a class="board-tile" href="/board/{{board.id}}" style="background-color: rgb(0, 121, 191);">
            <span class="board-tile-fade"></span>
            <span class="board-tile-details"><span class="board-tile-details-name" title="{{board.name}}">{{board.name}}</span></span>
          </a>
        </li>
      </ul>
      <h3>Add New Board</h3>

      <form #boardForm="ngForm" id="board-edit-form" (ngSubmit)="submitForm(boardForm)">
            <input [(ngModel)]="board.name" placeholder="name" name="name" #title="ngModel" required/>
            <button type="submit" [disabled]="!boardForm.form.valid">save</button>
      </form>
    </div>
  </div>
</div>
