<div>
  <button (click)="deleteList()">x</button>
  <h3>{{list.title}}</h3>
  <ul>
    <li *ngFor="let card of cards">
      <app-card [card]="card"></app-card>
    </li>
    <li class="new_card">
      <form #cardForm="ngForm" id="card-edit-form" (ngSubmit)="submitForm(cardForm)">
        New Card:
        <input [(ngModel)]="card.text" placeholder="text" name="text" #text="ngModel" required/>
        <button type="submit" [disabled]="!cardForm.form.valid">save</button>
      </form>
    </li>
  </ul>

</div>