<div id="content">
  <div class="board-wrapper">
    <div class="board-main-content">
      <div class="board-header">
          <a class="board-header-btn board-header-btn-name js-rename-board should-rename">
            <span class="board-header-btn-text" dir="auto"><span class="board-header-btn-name">{{board.name}}</span></span>
          </a>
      </div>
      <div class="board-canvas">
        <div id="board">

          <div *ngFor="let list of lists" class="js-list list-wrapper">
            <div class="list js-list-content">
              <app-list [list]="list"></app-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
